/*===== HEADER =====*/
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo {
  text-align: center;
}

.listaProdutos ul {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
  gap: 15px;
}

.cardProduto {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s ease-in-out;
}

.cardProduto:hover {
  transform: scale(1.1);
}

.cardProduto img {
  width: 100%;
  height: 100%;
}

.carrinho {
  height: 70vh;
  max-width: 440px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f7e0ce;
  border-radius: 120px;
  padding: 65px 42px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carrinhoDisplay {
  width: 100%;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  justify-content: center;
  padding: 0 65px;
  text-align: center;
  gap: 10px;
  background-color: #d3c5bb;
  border-radius: 80px;
}

.carrinhoDisplay img {
  width: 10vh;
  height: 10vh;
}

.carrinhoButtons {
  width: 250px;
  height: 77px;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
  background-color: #d3c5bb;
  border-radius: 80px;
}

.carrinhoButtons button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #000;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: #d3c5bb;
}

.carrinhoButtons button:hover {
  transform: scale(1.2);
}

@media (max-width: 1000px) {
  .header {
    align-items: center;
  }

  .listaProdutos {
    margin-top: 50px;
  }
  .listaProdutos ul {
    margin-top: 50px;
    justify-content: center;
  }

  .carrinho {
    padding: 55px 32px;
    gap: 60px;
  }

  .carrinhoDisplay {
    padding: 0 50px;
  }
}

@media (max-width: 500px) {
  .listaProdutos {
    margin-top: 25px;
  }
  .listaProdutos ul {
    margin-top: 25px;
  }
}
